.form-contact {
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #fffad8;
}

form input {
    border-style: hidden;
    background-color: #fffdec;
    border-radius: 20px;
    border-bottom-style: groove;
    border-bottom-color: #36e6a4;
    width: 85%;
    padding: 10px;
    margin: 20px auto 10px auto;
    font-size: 15px;
    color: #114a35;
}

::placeholder {
    color: #114a35;
    font-size: 15px;
}

form button {
    width: 35%;
    border-radius: 20px;
    height: 40px;
    background-color: #36e6a4;
    border-style: none;
    border-bottom-style: groove;
    border-bottom-color: #fffad8;
    margin-right: auto;
    margin-left: auto;
    font-size: 17px;
    color: #fffad8;
    margin-top: 40px;
}

